/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calistoga', cursive;
    font-size: 16px;
}

body {
    background: #b77908;
}

/* UTILITIES */

.btn {
    padding: 0 30px;
    border-radius: 25px;
    background: #fefefe;
    text-transform: uppercase;
    cursor: pointer;
    height: 35px;
    border: 0;
    outline: none;
    box-shadow: 0 15px 10px -15px rgba(0,0,0, .75);
}

.blue {
    background: dodgerblue;
}

.red {
    background: #ff0000;
}

/* LAYOUT */

#app {
    position: relative;
    max-width: 650px;
    margin: 100px auto;
    padding: 50px 50px;
    max-height: 700px;
    overflow-y: auto;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    background: #871212;
    z-index: 1;
}

/* HEADER */

.header-app {
    margin-bottom: 50px;
}

.title {
    font-size: 50px;
}

/* ADD TODO */

.add-todo {
    display: flex;
}

.input-todo {
    flex-grow: 1;
    margin-right: 60px;
    padding: 0 20px;
    border-radius: 20px;
    color: #000;
    background: #eee;
    transition: background .3s;
}

.add-todo .input-todo,
.add-todo .btn {
    height: 35px;
    border: 0;
    outline: none;
    box-shadow: 0 15px 10px -15px rgba(0,0,0, .75);
}

.add-todo .input-todo:hover,
.add-todo .input-todo:focus {
    background: #fff;
}

.add-todo .btn.add {
    background: #00e165;
    transition: background .3s, transform .3s;
}

.add-todo .btn.add:hover,
.add-todo .btn.add:focus {
    background: #006b30;
    transform: scale(1.2);
}

/* TODO LIST */

.todo-list {
    margin: 50px 0;
    padding: 15px 30px;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #000;
}

.todo:last-child {
    border-bottom: none;
}

.todo-list span {
    cursor: pointer;
}

.todo-list i {
    padding-right: 10px;
    cursor: pointer;
    opacity: .5;
}

.deleted-todos i {
    padding-right: 10px;
    cursor: pointer;
    opacity: .5;
    transition: opacity .3s;
}

.todo-list i:hover,
.deleted-todos i:hover {
    opacity: 1;
}

/* COMPLETED */

.todo .text.completed{
    text-decoration: line-through;
    opacity: .7;
}

/* EDIT MODAL */

.edit-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, .8);
}

.edit-modal .content {
    width: 500px;
    padding: 50px;
    background: #fefefe;
}

.modal-title {
    color: #000;
}

.modal-text {
    margin: 20px 0;
    padding-left: 10px;
    height:35px;
    width: 395px;
    border: none;
    border-radius: 20px;
    outline: none;
    background: #eee;
    transition: background .3s;
}

.modal-text:hover {
    background: #ddd;
}

.modal-btns .btn {
    transition: background .3s, transform .3s;
}

.modal-btns .btn.blue:hover {
    background: #0000ff;
    transform: scale(1.2);
}

.modal-btns .btn.red:hover {
    background: #6d0000;
    transform: scale(1.2);
}

.modal-title {
    font-size: 25px;
}

.modal-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SVG SHAPE */

.wave {
    position: fixed;
    bottom: 0;
    left: 0;
}