<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ICONS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous'/>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">
    <!-- STYLES -->
    <link rel="stylesheet" href="./css/main.css">
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>ToDo List</title>
</head>
<body>
    
    <div id="app">
        <!-- HEADER APP -->
        <header class="header-app">
            <h1 class="title">My ToDo List</h1>
        </header>
        <!-- ADD TODO -->
        <section class="add-todo">
            <input 
                class="input-todo" 
                type="text"
                placeholder="Write new ToDo here"
                v-model.trim="newTodo"
                @keyup.enter="addTodo"
                ref="todoInput"
            >
            <button @click="addTodo" class="btn add">add todo</button>
        </section>
        <!-- TODO LIST -->
        <section class="todo-list">
            <ul v-if="todos.length > 0">
                <li v-for="(todo, index) in todos" class="todo">
                    <span class="text" :class="{completed: todo.completed}" @click="updateStatus(index)">{{todo.text}}</span>
                    <div>
                        <i @click="showEdit(index)" class="fas fa-pen"></i>
                        <i @click="removeTodo(index)" class=" fas fa-times"></i>
                    </div>
                </li>

            </ul>
            <h2 v-else>No more ToDo are left in the list</h2>
        </section>

        <!-- EDIT MODAL -->
        <section v-show="editTodo.visibility" class="edit-modal">
            <div class="content">
                <h3 class="modal-title">Update ToDo Text</h3>
                <input type="text" v-model="editTodo.text" class="modal-text">
                <div class="modal-btns">
                    <button @click="updateTodo" class="btn blue">Update</button>
                    <button @click="closeEdit" class="btn red">Close</button>
                </div>
            </div>
        </section>

        <section class="deleted-todos">
            <h3>Deleted Todos</h3>
            <ul v-if="deletedTodos.length > 0">
                <li v-for="(todo,index) in deletedTodos" class="todo">
                    <span class="text" :class="{completed: todo.completed}">{{todo.text}}</span>
                    <i @click="recoverTodo(index)" class="fas fa-arrow-up"></i>
                </li>
            </ul>
            <h3 v-else>There are no Deleted ToDo</h3>
        </section>
    </div>

    <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#000b76" fill-opacity="1"
            d="M0,0L21.8,5.3C43.6,11,87,21,131,69.3C174.5,117,218,203,262,250.7C305.5,299,349,309,393,288C436.4,267,480,213,524,213.3C567.3,213,611,267,655,266.7C698.2,267,742,213,785,202.7C829.1,192,873,224,916,208C960,192,1004,128,1047,133.3C1090.9,139,1135,213,1178,218.7C1221.8,224,1265,160,1309,128C1352.7,96,1396,96,1418,96L1440,96L1440,320L1418.2,320C1396.4,320,1353,320,1309,320C1265.5,320,1222,320,1178,320C1134.5,320,1091,320,1047,320C1003.6,320,960,320,916,320C872.7,320,829,320,785,320C741.8,320,698,320,655,320C610.9,320,567,320,524,320C480,320,436,320,393,320C349.1,320,305,320,262,320C218.2,320,175,320,131,320C87.3,320,44,320,22,320L0,320Z">
        </path>
    </svg>
























    <!-- JS -->
    <script src="./js/script.js"></script>
</body>
</html>