<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ICONS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous'/>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">
    <!-- STYLES -->
    <link rel="stylesheet" href="./css/main.css">
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>ToDo List</title>
</head>
<body>
    
    <div id="app">
        <!-- HEADER APP -->
        <header class="header-app">
            <h1 class="title">My ToDo List</h1>
        </header>
        <!-- ADD TODO -->
        <section class="add-todo">
            <input 
                class="input-todo" 
                type="text"
                placeholder="Write new ToDo here"
                v-model.trim="newTodo"
                @keyup.enter="addTodo"
                ref="todoInput"
            >
            <button @click="addTodo" class="btn add">add todo</button>
        </section>
        <!-- TODO LIST -->
        <section class="todo-list">
            <ul v-if="todos.length > 0">
                <li v-for="(todo, index) in todos" class="todo">
                    <span class="text" :class="{completed: todo.completed}" @click="updateStatus(index)">{{todo.text}}</span>
                    <div>
                        <i @click="showEdit(index)" class="fas fa-pen"></i>
                        <i @click="removeTodo(index)" class=" fas fa-times"></i>
                    </div>
                </li>

            </ul>
            <h2 v-else>No more ToDo are left in the list</h2>
        </section>
    </div>


























    <!-- JS -->
    <script src="./js/script.js"></script>
</body>
</html>